.movie {
  cursor: pointer;
  width: 28%;
  margin: 40px 23px;
  box-sizing: border-box;
}

.movie:hover .imgWrapper {
  box-shadow: 1px 1px 8px 4px #f65261;
}

.movie:hover .content {
  text-decoration: underline;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imgWrapper {
  height: 480px;
  width: 100%;
}

.discription {
  flex: 65%;
}

.title {
  font-size: 18px;
  opacity: 0.7;
  margin-bottom: 8px;
}

.genre {
  opacity: 0.5;
}

.content {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  padding: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
}

.year {
  padding: 8px 12px;
  align-self: center;
  text-align: center;
  flex: 8%;
  border-radius: 5px;
  border: 1px solid rgba(204, 204, 204, 0.873);
}
