.header {
	min-height: 396px;
	font-size: calc(10px + 2vmin);
	/* background-image: url('../../assets/Header.png'); */
	background-color: #282c34;
	background-repeat: no-repeat;
	background-size: cover;
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
	margin-bottom: 50px;
}

.content {
	color: #fff;
	width: 80%;
	margin: 0 auto;
}

.title {
	font-weight: 300;
	font-size: 40px;
	margin-bottom: 30px;
	line-height: 49px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.wrapper {
	width: 1240px;
	margin: 0 auto;
	max-width: 100%;
}
